.navbar{
    border-top: 3px red solid;
    padding-left: 120px;
    height: 60px;
    padding-top: 3px;
}
.titleimage{
    float: left;
    margin-top: -15px;
}
.titleAmar{
    color: #666666;
    font-size: 22px;

}
.titleProshno{
    font-weight: bold ;
    color: #000000;
    font-size: 22px;
}
.singUp{
    margin-left: 40px;
}
.login{
    color: #0d89ed;
}
.btnstyle{
    margin-top: -7px;
}

.logSign{
    width: 94%;
    margin: auto;
    height: 50px;
    margin-top: 90px;
}

.logSign ul{
    border-bottom: 1px solid #e4e4e4;
    height: 32px;
    padding-left: 0px;
}
.logSign ul li{
    list-style: none;
    display: inline;
}
.logSign ul li a{
    text-decoration: none;
    padding: 13px;
    font-size: 13px;
    color: #999;
}
.logSign ul li a:hover{
    border-bottom: 2px solid #fff;
    background-color: #f2f2f2;
    color: #000;
}

ul.select li a.active{
    background-color:#f2f2f2;
    color:#000;
}

ul.select li a:focus{
    background-color:#f2f2f2;
    color:#000;
}


.CreateTitle{
    text-align: center;
    margin: auto;
    width: 95%;
    color: #000;
    font-size: 20px;
}
.Exchange{
    color: #324edb;
    font-weight:bold;
}
.signUpForm{
    width: 340px;
    border: 1px solid #ddd;
    margin: auto;
}
.SignTable{
    width: 270px;
    margin: auto;
}
.btnn{
    text-align: right;
}

.privacy{
    color: #2196F3;
}
.ALreadyLoged{
    border: 1px solid #ddd;
    margin: auto;
    margin-top: 20px;
    width: 340px;
    text-align: center;
    font-size: 13px;
    color: #666;
}
.AlrdyLog{
    color: #5480FF;
    padding-left: 5px;
}


/*Footer*/

.footer{
    height: 300px;
    width: 102%;
    margin: auto;
    margin-top: 30px;
    margin-left: -13px;
    background-color: #063344;
}